#!/bin/sh

# No need to continue if we are logging in with specific ip or username
{{ track_login_skip_alert_sh | default('') }}

# [ "$PAM_TYPE" = "open_session" ] || exit 0
{
  echo "User: $PAM_USER\n"
  echo "Ruser: $PAM_RUSER\n"
  echo "Rhost: $PAM_RHOST\n"
  echo "Service: $PAM_SERVICE\n"
  echo "PAM Type: $PAM_TYPE\n"
  echo "TTY: $PAM_TTY\n"
  echo "Date: `date`\n"
  echo "Server: `uname -a`\n"
} | mail -s "`hostname -s` $PAM_SERVICE login: $PAM_USER" root
