[Interface]
PrivateKey = ${PrivateKey}
ListenPort = 51820
SaveConfig = true
Address = {{ wireguard_ip_addresses[ansible_fqdn] }}

{% if wireguard_peer is defined and wireguard_peer['fqdn'] != ansible_fqdn %}
[Peer]
PublicKey = {{ wireguard_peer['PublicKey'] }}
AllowedIPs = {{ wireguard_peer['AllowedIPs'] }}
Endpoint = {{ wireguard_peer['Endpoint'] }}
{% endif %}
